/* Global Styles */
html, body {
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Enlève les marges par défaut */
    font-family: "Roboto Serif"; /* Police par défaut pour tout le document */
    background-color: #f0f0f0; /* Couleur de fond de la page */
}

/* Main Layout */
body {
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne */
}

.container {
    flex: 1; /* Permet au conteneur de prendre tout l'espace disponible */
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espace entre le contenu et le nav */
    width: 90%;
    align-items: center;
}
/* toggle button*/
#toggleButton{
    height: 86vh;
    display: grid;
}
/* Navigation */
nav {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 10vh; /* Hauteur de la barre de navigation */
    padding: 0 2rem;
}
nav p{
    font-size: 1.5rem;
}
.logo{
    max-width:50%;
    max-height: 15vh;
}
nav > p > a {
    
    color: var(--primary-color);
    font-weight: bold; /* Texte en gras pour plus de visibilité */
}

nav > p > a:hover {
    color: var(--tertiary-color); /* Highlight color on hover */
}
/* Main Content */
h1{
    font-family: "Black Ops One";
    font-size: 5rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Colonne pour le contenu central */
    height: 95vh; /* Prend 95% de la hauteur de la fenêtre */
    transition: height 0.3s ease; /* Transition pour l'animation */
}

.left, .middle, .right {
    width: 30%; /* Largeur des colonnes */
}

/* Upgrade Buttons */
.upgrade-button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #ffffff; /* Fond blanc pour les boutons */
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis pour les boutons */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
    transition: background-color 0.3s, transform 0.2s; /* Transition pour un effet visuel */
    width: 90%;
}

.upgrade-button:hover {
    background-color: #e0e0e0; /* Couleur au survol */
    transform: scale(1.05); /* Effet de zoom au survol */
}

.upgrade-button img {
    width: 255px; /* Ajuste la taille selon tes images */
    height: 170px;
    margin-right: 10px;
}
.autoClickerButton{
    transform: scaleX(-1);
}

/* Click Zone */
.click-zone {
    cursor: pointer;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}

.click-zone img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Coins arrondis pour l'image */
}
.middle p{
    color: #f0f0f0;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    padding: 10px; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
    display: flex;
    justify-content: center;
}

footer > p {
    max-width: 65ch; /* Limite la largeur pour une meilleure lisibilité */
}

/* Hidden Class */
.hidden {
    display: none; /* Assure que les éléments avec la classe 'hidden' sont cachés */
}

/* Classe spécifique pour le main visible */
main.visible {
    height: 95vh; /* 95% de la hauteur de la fenêtre lorsque visible */
}
