main,header{
    background-color: var(--quaternary-color);
    margin: 0 2.5rem;
}
nav{
    display: flex;
    background-color:var(--primary-color);
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;
 }
 nav>p>a{
    text-decoration: none;
    color:var(--tertiary-color);
}
header>section{
    border-radius: 50px;
    background-color: chartreuse;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin: 3rem 2.5rem;
}
header>section>p>a{
    text-decoration: none;
    color: var(--secondary-color);
}
header>section>article>img{
    width: 150px;
    height: 150px;
}
#section-Zak{
    background-color: blue;
    border-radius: 35px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    margin:0 3rem;
    margin-bottom: 3.5rem;
}
#section-Augustin{
    background-color: yellow;
    border-radius: 35px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    margin:0 3rem;
    margin-bottom: 3.5rem;
}
#section-Julien{
    background-color: lightcyan;
    border-radius: 35px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    margin:0 3rem;
    margin-bottom: 3.5rem;
}
footer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
footer>p{
    max-width: 65ch;
}